# Basic Analysis Solution

In [2]:
import pandas as pd

In [3]:
oo = pd.read_csv('../../data/olympics.csv',skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

### In which events did Jesse Owens win a medal?

In [4]:
# boolean indexing for Athlete Name 'OWENS, Jesse'
oo.Athlete == 'OWENS, Jesse'

0        False
1        False
2        False
3        False
4        False
         ...
29211    False
29212    False
29213    False
29214    False
29215    False
Name: Athlete, Length: 29216, dtype: bool

In [5]:
# create a dataframe for the Athlete name 'OWENS, Jesse'
jo = oo[oo.Athlete == 'OWENS, Jesse']
# display dataframe
jo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold

In [6]:
# count the type of events jesse owens took part in from the jo dataframe
jo.Event.value_counts()

Event
100m            1
200m            1
4x100m relay    1
long jump       1
Name: count, dtype: int64

In [7]:
# Filter the DataFrame for the events that Jesse Owens took part in
jo_events = jo[jo['Athlete'] == 'OWENS, Jesse']

# Now 'jo_events' should be a DataFrame containing only the events that Jesse Owens took part in
jo_events

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold

### Which country has won the most men's gold medals in singles badminton over the years? Sort the results alphabetically by the player's  names.

In [8]:
# finding the string name for badminton in Sport
oo.Sport.value_counts()

Sport
Aquatics             3828
Athletics            3448
Rowing               2523
Gymnastics           2214
Fencing              1547
Football             1387
Hockey               1325
Wrestling            1140
Shooting             1105
Sailing              1061
Cycling              1025
Canoe / Kayak        1002
Basketball            940
Volleyball            910
Equestrian            894
Handball              886
Boxing                842
Weightlifting         548
Judo                  435
Baseball              335
Archery               305
Tennis                272
Rugby                 192
Softball              180
Modern Pentathlon     174
Badminton             120
Table Tennis          120
Tug of War             94
Taekwondo              80
Polo                   66
Lacrosse               59
Golf                   30
Ice Hockey             27
Skating                27
Cricket                24
Triathlon              18
Rackets                10
Croquet                 8
Water Motorsports       5
Basque Pelota           4
Jeu de paume            3
Roque                   3
Name: count, dtype: int64

In [9]:
# boolean indexing for gold medals, by men, in badminton, singles
gbm = (oo.Medal == 'Gold') & (oo.Gender == 'Men') & (oo.Sport == 'Badminton') & (oo.Event == 'singles')
gbm

0        False
1        False
2        False
3        False
4        False
         ...
29211    False
29212    False
29213    False
29214    False
29215    False
Length: 29216, dtype: bool

In [10]:
# dataframe for gold medals, by men, in badminton, singles
gbm_df = oo[(oo.Medal == 'Gold') & (oo.Gender == 'Men') & (oo.Sport == 'Badminton') & (oo.Event == 'singles')]
gbm_df

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold

In [11]:
# sort the list by athletes name
gbm_df.sort_values(by='Athlete')

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold

### Which three countries have won the most medals in recent years (from 1984 to 2008)?

In [13]:
#create boolean index for the recent dates of 1984 to 2008
rec = (oo.Edition >= 1984) & (oo.Edition <= 2008)
rec

0        False
1        False
2        False
3        False
4        False
         ...
29211     True
29212     True
29213     True
29214     True
29215     True
Name: Edition, Length: 29216, dtype: bool

In [17]:
#create dataframe for the recent dates of 1984 to 2008
rec_df = oo[(oo.Edition >= 1984) & (oo.Edition <= 2008)]
rec_df

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
16592,Los Angeles,1984,Aquatics,Diving,"LI, Kong-Zheng",CHN,Men,10m platform,M,Bronze
16593,Los Angeles,1984,Aquatics,Diving,"LOUGANIS, Gregory",USA,Men,10m platform,M,Gold
16594,Los Angeles,1984,Aquatics,Diving,"KIMBALL, Bruce D.",USA,Men,10m platform,M,Silver
16595,Los Angeles,1984,Aquatics,Diving,"WYLAND-WILLIAMS, Wendy Lian",USA,Women,10m platform,W,Bronze
16596,Los Angeles,1984,Aquatics,Diving,"ZHOU, Ji-Hong",CHN,Women,10m platform,W,Gold
...,...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [23]:
# count number of medals by counting the number of country names
rec_df.NOC.value_counts()

NOC
USA    1837
AUS     762
GER     691
CHN     679
RUS     638
       ...
ISV       1
AHO       1
DJI       1
SEN       1
AFG       1
Name: count, Length: 124, dtype: int64

In [25]:
# retrieve the top 3 countries with most medals 
# by using .head(3)
rec_df.NOC.value_counts().head(3)

NOC
USA    1837
AUS     762
GER     691
Name: count, dtype: int64

### Display the male gold medal winners for the 100m Track & Field sprint event over the years. List the results starting with the most recent. Show the Olympic City, Edition, Athlete and the country they represent.

In [72]:
# to get column names
oo.head(1)
pd.set_option('display.max_rows', 60)

In [73]:
# create a dataframe for men, 100m sprint, gold medal
gmh = oo[(oo.Event == '100m') & (oo.Gender == 'Men') & (oo.Medal == 'Gold')]
# Sort results to have the recent at the top (ascending is False)
gmh.sort_values(by = 'Edition', ascending= False)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
27552,Beijing,2008,Athletics,Athletics,"BOLT, Usain",JAM,Men,100m,M,Gold
25539,Athens,2004,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold
23521,Sydney,2000,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
21598,Atlanta,1996,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
19859,Barcelona,1992,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
18284,Seoul,1988,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
16794,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
15374,Moscow,1980,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
14069,Montreal,1976,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
12902,Munich,1972,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
11865,Mexico,1968,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
10823,Tokyo,1964,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
9924,Rome,1960,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold
9009,Melbourne / Stockholm,1956,Athletics,Athletics,"MORROW, Robert Joseph",USA,Men,100m,M,Gold
8121,Helsinki,1952,Athletics,Athletics,"REMIGINO, Lindy",USA,Men,100m,M,Gold
7302,London,1948,Athletics,Athletics,"DILLARD, Harrison",USA,Men,100m,M,Gold
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
5806,Los Angeles,1932,Athletics,Athletics,"TOLAN, Eddie",USA,Men,100m,M,Gold
5095,Amsterdam,1928,Athletics,Athletics,"WILLIAMS, Percy",CAN,Men,100m,M,Gold
4236,Paris,1924,Athletics,Athletics,"ABRAHAMS, Harold",GBR,Men,100m,M,Gold
2996,Antwerp,1920,Athletics,Athletics,"PADDOCK, Charles",USA,Men,100m,M,Gold
2022,Stockholm,1912,Athletics,Athletics,"CRAIG, Ralph",USA,Men,100m,M,Gold
1191,London,1908,Athletics,Athletics,"WALKER, Reginald",RSA,Men,100m,M,Gold
737,St Louis,1904,Athletics,Athletics,"HAHN, Archie",USA,Men,100m,M,Gold
231,Paris,1900,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold

In [76]:
# Sort results to have the recent at the top (ascending is False)
# and only the City, Edition, Athlete and the country listed
# include the specific columns as a list after the sort_values
####################### Return Specific Columns ###########################
# dataframe.sort_values(by = '<sorted column>', ascending= True - A->Z 
# False - Z->A )[['<ColumnName1>', '<ColumnName2>', '<ColumnName3>']]
# for specific columns use [[]] after sort_value function
####################### Return Specific Columns ###########################
gmh.sort_values(by = 'Edition', ascending= False)[['City', 'Edition', 'Athlete', 'NOC']]

                        City  Edition                Athlete  NOC
27552                Beijing     2008            BOLT, Usain  JAM
25539                 Athens     2004         GATLIN, Justin  USA
23521                 Sydney     2000        GREENE, Maurice  USA
21598                Atlanta     1996        BAILEY, Donovan  CAN
19859              Barcelona     1992      CHRISTIE, Linford  GBR
18284                  Seoul     1988            LEWIS, Carl  USA
16794            Los Angeles     1984            LEWIS, Carl  USA
15374                 Moscow     1980           WELLS, Allan  GBR
14069               Montreal     1976       CRAWFORD, Hasely  TRI
12902                 Munich     1972         BORZOV, Valery  URS
11865                 Mexico     1968       HINES, James Ray  USA
10823                  Tokyo     1964          HAYES, Robert  USA
9924                    Rome     1960            HARY, Armin  EUA
9009   Melbourne / Stockholm     1956  MORROW, Robert Joseph  USA
8121                Helsinki     1952        REMIGINO, Lindy  USA
7302                  London     1948      DILLARD, Harrison  USA
6427                  Berlin     1936           OWENS, Jesse  USA
5806             Los Angeles     1932           TOLAN, Eddie  USA
5095               Amsterdam     1928        WILLIAMS, Percy  CAN
4236                   Paris     1924       ABRAHAMS, Harold  GBR
2996                 Antwerp     1920       PADDOCK, Charles  USA
2022               Stockholm     1912           CRAIG, Ralph  USA
1191                  London     1908       WALKER, Reginald  RSA
737                 St Louis     1904           HAHN, Archie  USA
231                    Paris     1900        JARVIS, Francis  USA
13                    Athens     1896          BURKE, Thomas  USA